<div class="text-center m-5 text-bg-warning">
    <h1>Actualizar producto</h1>
</div>
<div class="Formulario text-center m-5 ">
    <div class="container">
        <h2>Formulario</h2>
        <form action='/producto/actualizar/{{productoBuscado._id}}' method='post'>
            <div class="form-group">
                <label htmlFor='nombreProducto'>Nombre Producto</label>
                <input class='form-control' name='nombreProducto' type='text' value="{{productoBuscado.nombreProducto}}"></input>
            </div>
            <div class="form-group">
                <label htmlFor='precioProducto'>Precio Producto</label>
                <input class='form-control' name='precioProducto' type='number' value="{{productoBuscado.precioProducto}}"></input>
            </div>

            <div class="form-group">
                <label htmlFor='imagenProducto'>Imagen Producto</label>
                <input class='form-control' name='imagenProducto' type='text' value="{{productoBuscado.imagenProducto}}"></input>
            </div>
            <div class="form-group">
                <label htmlFor='stockProducto'>Stock producto</label>
                <input class='form-control' name='stockProducto' type='number' value="{{productoBuscado.stockProducto}}"></input>
            </div>
            <div>
                <button type='submit' class="btn btn-warning mt-3 w-50">Actualizar</button>
            </div>
            <div>
                <button type='reset' class="btn btn-danger mt-3 w-50">Borrar</button>
            </div>
        </form>

    </div>
</div>